/* General */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Playfair";
    font-kerning: normal;
    color: #d8f3dc;
}

@font-face {
    font-family: "poppins";
    src: url(./fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Playfair";
    src: url(./fonts/PlayfairDisplay-Medium.ttf);
}

html, body {
    height: 100%;
}

.content {
    height: 100%;
    width: 100%;
    position: relative;  
    top: 80px;  
}

.content p {
    font-size: 3vh;
}

.content img {
    width: 30;
    height: 30;
}

html {
    height: 100%;
}

h1 {
    font-size: 3rem;
    font-weight: 200;
    text-transform: uppercase;
}

main {
    height: 100%;
    width: 100%;
}

#body-display {
    background-color: #19212e;
}

header {
    position: absolute; 
    right: 1rem;
    top: 1rem;
}

header h1 {
    font-size: 4vh;
    margin-bottom: 0;
}
header h2 {
    font-size: 2vh;
    margin-bottom: 0;
}

footer {
    animation-name: load-animations;
    animation-duration: 2s;
}

#homepage {
    position: relative;
}

#welcome-page {
    text-align: center;
    position: absolute;
    top: 35%;
    width: 100%;
    animation-name: welcome-animation;
    animation-duration: 6s;
}

/* Buttons */ 

.btn-nav {
    transition: transform 0.3s !important;
}
.btn-nav:hover {
    transform: translateY(-8px);
    cursor: pointer;
}

.btn-nav-action {
    animation-name: down-click !important;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.btn-active {
    transform: translateY(-8px);
}

#btn-small-menu {
    margin-right: 2vh;
    display: none;
}

@keyframes down-click {
    0% {}
    40% {transform: translateY(9px);}
    100%{transform: translateY(-8px);}
}

/* Content */ 

#about-me {
    padding-top: 3rem;
}

#about-me p {
    width: 70%;
    text-align: justify;
    text-justify: inter-word;
}
#proyects h2 {
    text-align: center;
}

.content p {
    font-size: 16px;
}

.content h2 {
    font-size: 30px;
}

#container-text {
    height: 100%;
    padding: 7vh 5vh 5vh 5vh;
}

#home-text {
    padding-bottom: 50px !important;
    position: absolute;
    bottom: 50px;
}

#home-text p {
    width: 50%;
    font-size: 16px;
}

#contact {
    margin-top: 60px;
    text-align: center;
}

#contact a {
    text-decoration: none;
    color: white;
}

@keyframes load-animations {
    0% {opacity: 0;}

    100% {opacity: 1;}
}

/* nav bar */

nav {
    background-color: transparent;
    padding-left: 3vh;
    padding-right: 5vh;
    z-index: 1;
}

.nav-item {
    position: relative;
}

.nav-bar {
    --bs-navbar-color: blue;
    --bs-navbar-hover-color: none;
}
.nav-item::after {
    position: absolute;
}

#nav-bar, #homepage {
    animation-name: load-animations;
    animation-duration: 2s;
}

#nav-bar div:first-of-type {
    margin: 0 2vh;
}

#nav-lang {
    position: absolute;
    right: 2vh;
}

.page {
    /* border: 1px solid black; */
    background-color: #364156;
    padding-bottom: 10%;
}

@keyframes welcome-animation {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 1;
        transform:translateY(8px);
    }
    100% {
        opacity: 0;
    }
}

#proyects, #about-me, #contact, #nav-bar, #homepage, footer {
    display: none;
}

.visible {
    display: block !important; 
    animation-name: load-animations;
    animation-duration: 1s;
}

.hidden {
    display: none;
    opacity: 0;
    transition: display 0s 1s, opacity 1s linear; 
}

/* Light and dark mode */

.dark-mode {
    background-color: #354f52 !important;
    color: #cad2c5 !important;
}

.dark-mode-page {
    background-color: #2f3e46 !important;
}

/* Animations */ 

.blur-in {
    animation: blur-in 2s forwards;
}

.blur-out{
    animation: blur-out 2s forwards;
}

@keyframes blur-in {
    0% {
        filter: blur(0);
    }
    100% {
        filter: blur(2px);
    }
}

@keyframes blur-out {
    0% {
        filter: blur(2px);
    }
    100% {
        filter: blur(0);
    }
}

.btn-small-active {
    animation: side-select-on 2s forwards;
}

.btn-small-deactivaded {
    animation: side-select-off 2s forwards;
}
@keyframes side-select-on {
    0% {};
    100%{padding-left: 11vh};
}

@keyframes side-select-off {
    0% {padding-left: 11vh};
    100% {padding-left: 0};
}

/* responsive */ 

@media (max-width: 800px) {
    #btn-small-menu {
        margin-right: 2vh;
        display: block;
    }

    #nav-bar {
        display: none;
        text-align: center;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #nav-bar-menu {
        font-size: 6vh;
    }

    header {
        text-align: center;
        font-size: 14px;
    }

    .content {
        position: relative;
        padding-top: 38%; 
        width: 100%;
        text-align: center;
    }

    /* content */ 

    #about-me p {
        width: 100%;
    }

    #contact {
        margin-top: 0;
    }

    #home-text p {
        width: 100%;
    }

    #home-text {
        position: relative;
    }

}

/* Paleta: 
    606C38
    283618
    FEFAE0
    DDA15E
    BC6C25
*/

/* Paleta 2: 
    cad2c5
    84a98c
    52796f
    354f52
    2f3e46
*/