* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "poppins";
}

html {
    height: 100%;
}

@font-face {
    font-family: "poppins";
    src: url(./fonts/Poppins-Medium.ttf);
}

.content {
    padding-top: 10%;
}

.page {
    border: 1px solid black;
    margin: 5px;
    background-color:lightblue;
    padding-bottom: 10%;
}

#home-text {
    padding-bottom: 0 !important;
}

#home-text p {
    width: 50%;
}

h1 {
    font-size: 100px;
    font-weight: 200;
    text-transform: uppercase;
}

main {
    height: 100%;
}

nav {
    background-color: transparent;
}

#proyects, #skills, #contact {
    display: none;
}
