* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "poppins";
}

@font-face {
    font-family: "poppins";
    src: url(./fonts/Poppins-Medium.ttf);
}
#home {
    background-color: lightcyan;
}

nav {
    background-color: transparent;
}

ul {
    list-style: none;
}

#home-text {
    padding-top: 20%;
}
#home-text p {
    width: 50%;

}
body {
    background-color: lightgreen;
    height: 100vh;
}

section {
    /*min-height: 1140px;*/
}

h1 {
    font-size: 100px;
    font-weight: 200;
    text-transform: uppercase;
}

