* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "poppins";
}

html, body {
    height: 100%;
}
.content {
    height: 100%;
}
#body-display {
    background-color: #84a98c;
}

.btn-nav {
    transition: transform 0.3s !important;
}
.btn-nav:hover {
    transform: translateY(-8px);
}

@keyframes down-click {
    0% {}
    40% {transform: translateY(9px);}
    100%{transform: translateY(-1px);}
}
.btn-nav:active, .btn-nav:not(:hover) {
    animation-name: down-click !important;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.content {
    padding-top: 10%;
}

#container-text {
    height: 100%;
    padding: 7vh 5vh 5vh 5vh;
}

#home-text {
    padding-bottom: 0 !important;
}

#home-text p {
    width: 50%;
}

html {
    height: 100%;
}

h1 {
    font-size: 100px;
    font-weight: 200;
    text-transform: uppercase;
}

main {
    height: 100%;
}

@keyframes load-animations {
    0% {
        opacity: 0;
    }

    100% {opacity: 1;}
}
nav {
    background-color: transparent;
}
.nav-item {
    position: relative;
}

.nav-item::after {
    position: absolute;
}

#nav-bar, #homepage {
    animation-name: load-animations;
    animation-duration: 2s;

}

@font-face {
    font-family: "poppins";
    src: url(./fonts/Poppins-Medium.ttf);
}

.page {
    border: 1px solid black;
    background-color:lightblue;
    padding-bottom: 10%;
}

#welcome-page {
    text-align: center;
    padding:  10% 0;    
    animation-name: welcome-animation;
    animation-duration: 6s;
}

@keyframes welcome-animation {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 1;
        transform:translateY(8px);
    }
    100% {
        opacity: 0;
    }

}

#proyects, #skills, #contact, #nav-bar, #homepage{
    display: none;
}


.visible {
    display: block !important; 
    animation-name: load-animations;
    animation-duration: 1s;
}

.hidden {
    display: none;
    opacity: 0;
    transition: display 0s 1s, opacity 1s linear; 
}

/* Paleta: 
    606C38
    283618
    FEFAE0
    DDA15E
    BC6C25
*/

/* Paleta 2: 
    cad2c5
    84a98c
    52796f
    354f52
    2f3e46
*/